In [1]:
import pandas as pd 
df = pd.read_csv('ALL_DATA_Marc93.csv')

In [6]:
%pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the 'c:\users\forre\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [7]:
from tabulate import tabulate
print(tabulate(df.describe(), headers='keys', tablefmt='psql'))

+-------+----------+--------------+------------+-----------+----------+
|       |      CPI |          SPY |     DGS6MO |    UNRATE |      G17 |
|-------+----------+--------------+------------+-----------+----------|
| count | 358      | 358          | 358        | 358       | 358      |
| mean  | 207.747  |   0.00855033 |   2.43011  |   5.73855 |  92.3598 |
| std   |  39.4858 |   0.0438699  |   2.15218  |   1.78089 |  10.2155 |
| min   | 143.3    |  -0.160354   |   0.0355   |   3.5     |  64.9433 |
| 25%   | 172.925  |  -0.0156623  |   0.202143 |   4.5     |  88.4701 |
| 50%   | 211.689  |   0.0138781  |   1.87859  |   5.4     |  94.9612 |
| 75%   | 237.498  |   0.036915   |   4.75186  |   6.3     | 100.097  |
| max   | 298.349  |   0.133611   |   6.506    |  14.7     | 104.829  |
+-------+----------+--------------+------------+-----------+----------+

In [3]:
df.head()

         Date    CPI       SPY    DGS6MO  UNRATE      G17
0  1-Mar-1993  143.3  0.017593  3.145652     7.0  65.0176
1  1-Apr-1993  143.8 -0.020986  3.062857     7.1  65.2041
2  1-May-1993  144.2  0.026970  3.165500     7.1  64.9433
3  1-Jun-1993  144.3 -0.003455  3.294545     7.0  65.0984
4  1-Jul-1993  144.5  0.002199  3.257619     6.9  65.2554