In [1]:
import pandas as pd 
df = pd.read_csv('ALL_DATA_Marc93.csv')

In [2]:
df.describe()

              CPI         SPY      DGS6MO      UNRATE         G17
count  358.000000  358.000000  358.000000  358.000000  358.000000
mean   207.746846    0.008550    2.430109    5.738547   92.359820
std     39.485838    0.043870    2.152177    1.780888   10.215503
min    143.300000   -0.160354    0.035500    3.500000   64.943300
25%    172.925000   -0.015662    0.202143    4.500000   88.470100
50%    211.689000    0.013878    1.878592    5.400000   94.961150
75%    237.498000    0.036915    4.751857    6.300000  100.097400
max    298.349000    0.133611    6.506000   14.700000  104.829200